.info {
  position: fixed;
  border-radius: 15px;
  min-width: 170px;
  min-height: 50px;
  right: 20px;
  top: -10%;
  padding: 10px 15px;
  max-width: 500px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  color: white;
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 100;
}
.info .text {
  padding-right: 20px;
}
.text::first-letter {
  text-transform: capitalize;
}
.infoAcitve {
  top: 20px;
  opacity: 1;
}
.info_close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.user {
  text-transform: capitalize;
  color: white;
}
.modal-dialog {
  max-width: 800px;
}